body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1730px;
  height:1212px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:84px;
  width:1730px;
  height:1212px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u575 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:1296px;
  background:-webkit-linear-gradient(270deg, rgba(10, 67, 34, 1) 0%, rgba(10, 67, 34, 1) 66%, rgba(0, 0, 0, 1) 157%);
  background:-moz-linear-gradient(180deg, rgba(10, 67, 34, 1) 0%, rgba(10, 67, 34, 1) 66%, rgba(0, 0, 0, 1) 157%);
  background:linear-gradient(180deg, rgba(10, 67, 34, 1) 0%, rgba(10, 67, 34, 1) 66%, rgba(0, 0, 0, 1) 157%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:1296px;
  display:flex;
}
#u577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(10, 67, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:125px;
  width:208px;
  height:40px;
  display:flex;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u579_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(111, 122, 137, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u579.mouseOver {
}
#u579_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(111, 122, 137, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u579.selected {
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:134px;
  width:22px;
  height:22px;
  display:flex;
}
#u580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u580_img.selected {
}
#u580.selected {
}
#u580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(10, 67, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:224px;
  width:208px;
  height:40px;
  display:flex;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u582_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(111, 122, 137, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u582.mouseOver {
}
#u582_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(111, 122, 137, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u582.selected {
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:232px;
  width:20px;
  height:24px;
  display:flex;
}
#u583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u583_img.selected {
}
#u583.selected {
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(10, 67, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:331px;
  width:208px;
  height:40px;
  display:flex;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u585_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(111, 122, 137, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u585.mouseOver {
}
#u585_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(111, 122, 137, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u585.selected {
}
#u585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:335px;
  width:38px;
  height:33px;
  display:flex;
}
#u586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(10, 67, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:435px;
  width:208px;
  height:40px;
  display:flex;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u588_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(111, 122, 137, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u588.mouseOver {
}
#u588_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(111, 122, 137, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u588.selected {
}
#u588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:446px;
  width:18px;
  height:18px;
  display:flex;
}
#u589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u589_img.selected {
}
#u589.selected {
}
#u589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(10, 67, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FF5A5A;
  text-align:left;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:540px;
  width:208px;
  height:40px;
  display:flex;
  font-size:19px;
  color:#FF5A5A;
  text-align:left;
}
#u591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u591_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(111, 122, 137, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FF5A5A;
  text-align:left;
}
#u591.mouseOver {
}
#u591_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(111, 122, 137, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FF5A5A;
  text-align:left;
}
#u591.selected {
}
#u591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:551px;
  width:18px;
  height:19px;
  display:flex;
}
#u592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u592_img.selected {
}
#u592.selected {
}
#u592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(10, 67, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:645px;
  width:208px;
  height:40px;
  display:flex;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u594_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(111, 122, 137, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u594.mouseOver {
}
#u594_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(111, 122, 137, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
}
#u594.selected {
}
#u594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:656px;
  width:18px;
  height:19px;
  display:flex;
}
#u595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u595_img.selected {
}
#u595.selected {
}
#u595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:84px;
}
#u597_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:84px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u597_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:84px;
  background:-webkit-linear-gradient(180deg, rgba(0, 0, 0, 1) -10%, rgba(10, 67, 34, 1) 14%, rgba(10, 67, 34, 1) 50%, rgba(10, 67, 34, 1) 78%, rgba(0, 0, 0, 1) 116%);
  background:-moz-linear-gradient(270deg, rgba(0, 0, 0, 1) -10%, rgba(10, 67, 34, 1) 14%, rgba(10, 67, 34, 1) 50%, rgba(10, 67, 34, 1) 78%, rgba(0, 0, 0, 1) 116%);
  background:linear-gradient(270deg, rgba(0, 0, 0, 1) -10%, rgba(10, 67, 34, 1) 14%, rgba(10, 67, 34, 1) 50%, rgba(10, 67, 34, 1) 78%, rgba(0, 0, 0, 1) 116%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(176, 195, 152, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:84px;
  display:flex;
}
#u598 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u599 {
  position:absolute;
  left:1726px;
  top:18px;
}
#u599_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:223px;
  height:48px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u599_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u600 {
  position:absolute;
  left:51px;
  top:58px;
  visibility:hidden;
}
#u600_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u600_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 4px 12px rgba(0, 0, 0, 0.349019607843137);
  color:#1890FF;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  display:flex;
  color:#1890FF;
}
#u601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444444;
  text-align:left;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:120px;
  height:32px;
  display:flex;
  color:#444444;
  text-align:left;
}
#u602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u602_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444444;
  text-align:left;
}
#u602.mouseOver {
}
#u602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444444;
  text-align:left;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:120px;
  height:32px;
  display:flex;
  color:#444444;
  text-align:left;
}
#u603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u603_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444444;
  text-align:left;
}
#u603.mouseOver {
}
#u603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:1px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:1px;
  display:flex;
}
#u604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:48px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:143px;
  height:48px;
  display:flex;
  font-size:15px;
  color:#BADDB6;
}
#u605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u605_img.mouseOver {
}
#u605.mouseOver {
}
#u605_img.selected {
}
#u605.selected {
}
#u605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bebas Neue Bold', 'Bebas Neue';
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:28px;
  width:353px;
  height:35px;
  display:flex;
  font-family:'Bebas Neue Bold', 'Bebas Neue';
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u606 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:26px;
  width:34px;
  height:37px;
  display:flex;
}
#u607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1444px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'細明體 Bold', '細明體';
  font-weight:700;
  font-style:normal;
  font-size:50px;
  letter-spacing:2px;
  color:#888888;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:119px;
  width:1444px;
  height:91px;
  display:flex;
  font-family:'細明體 Bold', '細明體';
  font-weight:700;
  font-style:normal;
  font-size:50px;
  letter-spacing:2px;
  color:#888888;
}
#u608 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:272px;
  width:145px;
  height:48px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  letter-spacing:4px;
  color:rgba(136, 136, 136, 0.847058823529412);
}
#u609 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u609_img.mouseOver {
}
#u609.mouseOver {
}
#u609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:48px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:366px;
  width:263px;
  height:48px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  letter-spacing:4px;
  color:rgba(136, 136, 136, 0.847058823529412);
}
#u610 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u610_img.mouseOver {
}
#u610.mouseOver {
}
#u610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:462px;
  width:232px;
  height:48px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  letter-spacing:4px;
  color:rgba(136, 136, 136, 0.847058823529412);
}
#u611 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u611_img.mouseOver {
}
#u611.mouseOver {
}
#u611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:560px;
  width:232px;
  height:48px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  letter-spacing:4px;
  color:rgba(136, 136, 136, 0.847058823529412);
}
#u612 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u612_img.mouseOver {
}
#u612.mouseOver {
}
#u612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:48px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:661px;
  width:175px;
  height:48px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  letter-spacing:4px;
  color:rgba(136, 136, 136, 0.847058823529412);
}
#u613 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u613_img.mouseOver {
}
#u613.mouseOver {
}
#u613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:48px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:272px;
  width:58px;
  height:48px;
  display:flex;
  font-size:25px;
  letter-spacing:2px;
  color:#888888;
}
#u614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:48px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:366px;
  width:58px;
  height:48px;
  display:flex;
  font-size:25px;
  letter-spacing:2px;
  color:#888888;
}
#u615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:48px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:462px;
  width:58px;
  height:48px;
  display:flex;
  font-size:25px;
  letter-spacing:2px;
  color:#888888;
}
#u616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:48px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:560px;
  width:58px;
  height:48px;
  display:flex;
  font-size:25px;
  letter-spacing:2px;
  color:#888888;
}
#u617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:48px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:661px;
  width:58px;
  height:48px;
  display:flex;
  font-size:25px;
  letter-spacing:2px;
  color:#888888;
}
#u618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
